<div class="container">

  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Test</mat-card-title>

      <mat-card-content>

        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <form *ngIf="questions">

          <div *ngIf="results">
            Resultado:

            <div>OK: {{oks}}</div>
            <div>BAD: {{bads}}</div>

            <b *ngIf="bads>0">{{oks/bads}}%</b>
            <b *ngIf="bads==0">100%</b>

            <button (click)="reDo()">Review</button>
          </div>




          <mat-horizontal-stepper #matstepper *ngIf="!results">

            <mat-step
              *ngFor="let question of questions; let i = index"
              [stepControl]="formGroups[i]">

              <div fxLayout="column" fxFlex="100%" fxLayoutGap="2em">
                <question
                  [question]="question"
                  (nextStep)="moveNext($event)">
                </question>
              </div>

            </mat-step>

          </mat-horizontal-stepper>

        </form>


        <div *ngIf="stepper" style="text-align: right">
          {{ stepper.selectedIndex + 1 }} / {{questions.length}}
        </div>

        <mat-form-field>
          <mat-label>Tests:</mat-label>
          <mat-select (selectionChange)="startTest($event.value)">
            <mat-option value="0">None</mat-option>
            <mat-option *ngFor="let test of tests" [value]="test.id">
              {{test.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)=reDo()>Repaso</button>

      </mat-card-content>
      <mat-card-actions>

        <button (click)="shuffle()">Shuffle</button>
        <button (click)="moveNext($event)">Next</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
