<div class="container">

  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Test</mat-card-title>

      <mat-card-content>

        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <form *ngIf="questions">

          <mat-horizontal-stepper #stepper>

            <div style="text-align: right">{{ stepper.selectedIndex + 1 }}/{{questions.length}}</div>

            <mat-step
              *ngFor="let question of questions; let i = index"
              [stepControl]="formGroups[i]">

              <div fxLayout="column" fxFlex="100%" fxLayoutGap="2em">
                <question
                  [question]="question"
                  (nextStep)="moveNext(stepper)">
                </question>
              </div>

            </mat-step>

          </mat-horizontal-stepper>

        </form>


        <mat-form-field>
          <mat-label>Tests:</mat-label>
          <mat-select (selectionChange)="startTest($event.value)">
            <mat-option value="0">None</mat-option>
            <mat-option *ngFor="let test of tests" [value]="test.id">
              {{test.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)=review()>Repaso</button>

      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
